@import "tailwindcss";

/**
 * Color Palette
 https://coolors.co/palette/2f2f4c-0b6e4f-56544d-da4167-e0d8de

 */

:root {
    /* CSS HEX - Not fully up to date with color palette */
--space-cadet: #2F2F4C;
--space-cadet-shade-01: #3F3E65;
--space-cadet-shade-02: #474672;
--hunter-green: #355834ff;
--battleship-gray: #9c9990ff;
--cerise: #da4167ff;
--lavender-blush: #e0d8deff;
--davy-gray: #56544D;

}

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: var(--lavender-blush);
    background-color: var(--space-cadet);
}

.container {
    max-width: 100vw;
    margin: 0 0;
    padding: 3rem 3rem;
    width: 100%;
    .main {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
    }

}